{#
/**
 * @file personified-data.html.twig
 * Default theme implementation to present Personified Data data.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_personified_data()
 */
#}
<div{{ attributes.addClass('personified-data') }}></div>
